<!-- app/views/profile.hbs -->
<!doctype html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script src="/public/javascript/sorttable.js"></script>
	<script src="/public/javascript/jquery.js"></script>
	<script src="/public/javascript/users.js"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>Choose a business</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
			<!-- PROFILE INFORMATION -->
			<div class="well">
				<h3><span class="fa fa-user"></span>Info</h3>
				<div id="listcompanies">
				<table border="3">
					<tr>
						<th>Company ID</th>
						<th>Company Name</th>
						<th>Company Address</th>
						<th>Choose</th>
					</tr>
					
					{{#each companies}}
					<tr>
						<td>{{ _id}}</td>
						<td>{{ name }} </td>
						<td>{{ streetAddress }} </td>
						<td>	
								<a href='#' id="company{{_id}}">Pick me!</a>
									
						</td>
					</tr>
					{{/each}}
				</table>
				</div>
			</div>
	</div>

	<div class="row">
			<div class="well">
				<h3><span class="fa fa-user"></span>Or, Create a New Business</h3>
				<div class="well">
					<form name="associateNew" method="POST" action="/companies">
						<input type='hidden' name="userid" value='{{user._id}}'>
					  Company name:		<input type="text" id="companyname" name="companyname"><br>
					  Email: 					<input type="text" id="companyemail" name="companyemail"><br>
					  Phone number: 	<input type="text" id="companymobile" name="companymobile"><br>
					  Street address: <input type="text" id="companystreet" name="companystreet"><br>
						City: 			<input type="text" name="companycity"><br>
						State: 			<input type="text" name="companystate"><br>
					  <input type="submit" value="Submit">
					</form>
				</div>
			</div>
	</div>

</div>
</body>
</html>
