<!-- app/views/profile.hbs -->
<!doctype html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script src="/public/javascript/sorttable.js"></script>
	<script src="/public/javascript/jquery.js"></script>

	<script>
		$('#listcompanies').on('click', function(event) {
			event.preventDefault();
			console.log('in jquery');
 			var id = event.srcElement.attr('id');
 			var cName = event.srcElement.attr('')
		  $.ajax({
		    type: "POST",
		    timeout: 50000,
		    url: "/users/{{user._id}}/associate/" + id,
		      data: {"name":"bernhard","phone":"22341234" },
		    success: function (data) {
		      console.log(JSON.stringify(data))
		      return true;
		    }
		  });
		});
 </script>

</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
			<!-- PROFILE INFORMATION -->
			<div class="well">
				<h3><span class="fa fa-user"></span>Info</h3>
				<table border="3">
					<tr>
						<th>Company ID</th>
						<th>Company Name</th>
						<th>Company Address</th>
						<th>Choose</th>
					</tr>
					
					{{#each companies}}
					<tr>
						<td>{{ _id}}</td>
						<td>{{ name }} </td>
						<td>{{ streetAddress }} </td>
						<td>	<div id="listcompanies">
								<a href='#' onclick="return false;" id="{{_id}}">Pick me!</a>
									</div>
						</td>
					</tr>
					{{/each}}
				</table>
			</div>
	</div>

	{{!-- 							<form name="associateExisting" method="POST" action="/users/{{ user._id }}/associate/{{ company._id }}?new=false">
								<input type="hidden" name="param1" value="param1Value"> --}}
								{{!-- <a href="javascript:document.associateExisting.submit()">Pick me!</a> --}}

	<div class="row">
			<div class="well">
				<h3><span class="fa fa-user"></span>Or, Create a New Business</h3>
				<div class="well">
					<form name="associateNew" method="POST" action="/users/{{ user._id }}/associate">
						{{!-- <input type="hidden" name="_method" value="put"> --}}
					  Company name:		<input type="text" name="companyname"><br>
					  Email: 					<input type="text" name="companyemail"><br>
					  Phone number: 	<input type="text" name="companymobile"><br>
					  Street address: <input type="text" name="companystreet"><br>
						City: 			<input type="text" name="companycity"><br>
						State: 			<input type="text" name="companystate"><br>
					  <input type="submit" value="Submit">
					</form>
				</div>
			</div>
	</div>

</div>
</body>
</html>
