{{> head}}

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- ADMIN INFORMATION -->
		{{#compare user.admin.isAdmin "==" true }} 

			<div class="well">
				<h3><span class="fa fa-user"></span>Admin</h3>

				<table border="3" class="sortable">
					<tr>
						<th>User ID</th>
						<th>Facebook</th>
						<th>Twitter</th>
						<th>Name</th>
						<th>Location</th>
						<th>isAdmin</th>
						<th>Edit Profile</th>
					</tr>
					{{#each users}}
					<tr>
						<td>{{_id}}</td>
						<td>{{#if facebook.token }}	 				X 	{{/if}}</td>
						<td>{{#if twitter.token }} 					X 	{{/if}}</td>
						<td>{{ info.firstName}} {{ info.lastName }}		   </td>
						<td>{{ info.cityAddress }}, {{ info.stateAddress}}    	   </td>
						<td>{{#compare admin.isAdmin "==" true }}	X	{{/compare}}</td>
						<td> <a href='/users/{{_id}}/edit'>Edit<a></td>
					</tr>
					{{/each}}
				</table>

			</div>
		{{/compare}}

			<!-- Dev INFORMATION -->
			<div class="well">
				<h3><span class="fa fa-user"></span>Dev Links</h3>
				<a href='/users/{{ user._id }}/associate'>Edit</a></td>
			</div>

			<!-- PROFILE INFORMATION -->
			<div class="well">
				<h3><span class="fa fa-user"></span>Info</h3>

				<table border="3">
					<tr>
						<th>User ID</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>Street</th>
						<th>City</th>
						<th>State</th>
						<th>Edit Profile</th>
					</tr>
					<tr>
						<td>{{ user._id}}</td>
						<td>{{ user.info.firstName }} {{ user.info.lastName }} </td>
						<td>{{ user.info.mobileNo }} </td>
						<td>{{ user.info.streetAddress }} </td>
						<td>{{ user.info.cityAddress }} </td>
						<td>{{ user.info.stateAddress }} </td>
						<td> <a href='/users/{{ user._id }}/edit'>Edit<a></td>
					</tr>
				</table>
			</div>
	</div>

	<div class="row">
		</div>
	</div>

</div>

{{> footer}}
